.u-section-1 .u-sheet-1 {
  min-height: 760px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 43px auto 0;
}

.u-section-1 .u-text-2 {
  font-style: normal;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 13px 0 0;
}

.u-section-1 .u-accordion-1 {
  width: 1140px;
  margin: 54px 0 60px;
}

.u-section-1 .u-accordion-link-1 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-1 .u-icon-1 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153) !important;
}

.u-section-1 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-1 .u-accordion-link-2 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-1 .u-icon-2 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153) !important;
}

.u-section-1 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-1 .u-accordion-link-3 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-1 .u-icon-3 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153) !important;
}

.u-section-1 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-1 .u-accordion-link-4 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-1 .u-icon-4 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153);
}

.u-section-1 .u-accordion-pane-4 {
  min-height: 150px;
}

.u-section-1 .u-container-layout-4 {
  padding: 20px;
}

.u-section-1 .u-accordion-link-5 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-1 .u-icon-5 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153);
}

.u-section-1 .u-accordion-pane-5 {
  min-height: 150px;
}

.u-section-1 .u-container-layout-5 {
  padding: 20px;
}

.u-section-1 .u-accordion-link-6 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-1 .u-icon-6 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153);
}

.u-section-1 .u-accordion-pane-6 {
  min-height: 150px;
}

.u-section-1 .u-container-layout-6 {
  padding: 20px;
}

.u-section-1 .u-accordion-link-7 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-1 .u-icon-7 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153);
}

.u-section-1 .u-accordion-pane-7 {
  min-height: 150px;
}

.u-section-1 .u-container-layout-7 {
  padding: 20px;
}

.u-section-1 .u-accordion-link-8 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-1 .u-icon-8 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153);
}

.u-section-1 .u-accordion-pane-8 {
  min-height: 150px;
}

.u-section-1 .u-container-layout-8 {
  padding: 20px;
}

.u-section-1 .u-accordion-link-9 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-1 .u-icon-9 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153);
}

.u-section-1 .u-accordion-pane-9 {
  min-height: 150px;
}

.u-section-1 .u-container-layout-9 {
  padding: 20px;
}

.u-section-1 .u-accordion-link-10 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-1 .u-icon-10 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153);
}

.u-section-1 .u-accordion-pane-10 {
  min-height: 150px;
}

.u-section-1 .u-container-layout-10 {
  padding: 20px;
}

.u-section-1 .u-accordion-link-11 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-1 .u-icon-11 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153);
}

.u-section-1 .u-accordion-pane-11 {
  min-height: 150px;
}

.u-section-1 .u-container-layout-11 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-accordion-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-accordion-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 284px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 111px;
  }

  .u-section-1 .u-accordion-1 {
    width: 540px;
    margin-top: 19px;
    margin-bottom: -232px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1280px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -1082px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 133px;
  }

  .u-section-1 .u-accordion-1 {
    width: 340px;
    margin-top: -109px;
    margin-bottom: 45px;
  }
}