.u-section-1 .u-sheet-1 {
  min-height: 3465px;
}

.u-section-1 .u-text-1 {
  margin: 16px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 24px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 54px;
  margin-bottom: 54px;
}

.u-section-1 .u-repeater-1 {
  min-height: 2953px;
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  --gap: 71px;
}

.u-section-1 .u-list-item-1 {
  --radius: 20px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 29px 28px;
}

.u-section-1 .u-image-1 {
  width: 554px;
  height: 170px;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  margin: 4px 0 0;
}

.u-section-1 .u-list-item-2 {
  --radius: 20px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 29px 28px;
}

.u-section-1 .u-image-2 {
  width: 554px;
  height: 170px;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  margin: 4px 0 0;
}

.u-section-1 .u-list-item-3 {
  --radius: 20px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 29px 28px;
}

.u-section-1 .u-image-3 {
  width: 554px;
  height: 170px;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  margin: 4px 0 0;
}

.u-section-1 .u-list-item-4 {
  --radius: 20px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 29px 28px;
}

.u-section-1 .u-image-4 {
  width: 554px;
  height: 170px;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  margin: 4px 0 0;
}

.u-section-1 .u-list-item-5 {
  --radius: 20px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 29px 28px;
}

.u-section-1 .u-image-5 {
  width: 554px;
  height: 170px;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  margin: 4px 0 0;
}

.u-section-1 .u-list-item-6 {
  --radius: 20px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 29px 28px;
}

.u-section-1 .u-image-6 {
  width: 554px;
  height: 170px;
  margin: 0 auto;
}

.u-section-1 .u-text-8 {
  margin: 4px 0 0;
}

.u-section-1 .u-list-item-7 {
  --radius: 20px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 29px 28px;
}

.u-section-1 .u-image-7 {
  width: 554px;
  height: 170px;
  margin: 0 auto;
}

.u-section-1 .u-text-9 {
  margin: 4px 0 0;
}

.u-section-1 .u-list-item-8 {
  --radius: 20px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-8 {
  padding: 30px 29px 28px;
}

.u-section-1 .u-image-8 {
  width: 554px;
  height: 170px;
  margin: 0 auto;
}

.u-section-1 .u-text-10 {
  margin: 4px 0 0;
}

.u-section-1 .u-list-item-9 {
  --radius: 20px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-9 {
  padding: 30px 29px 28px;
}

.u-section-1 .u-image-9 {
  width: 554px;
  height: 170px;
  margin: 0 auto;
}

.u-section-1 .u-text-11 {
  margin: 4px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    margin-top: 47px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 28px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 28px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 28px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 28px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 28px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 28px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 28px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 28px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-top: 28px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 520px;
    height: 160px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    width: 520px;
    height: 160px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    width: 520px;
    height: 160px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    width: 520px;
    height: 160px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-5 {
    width: 520px;
    height: 160px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-6 {
    width: 520px;
    height: 160px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-7 {
    width: 520px;
    height: 160px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-8 {
    width: 520px;
    height: 160px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-9 {
    width: 520px;
    height: 160px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    margin-top: 30px;
  }

  .u-section-1 .u-image-1 {
    height: 96px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-2 {
    height: 96px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-3 {
    height: 96px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-4 {
    height: 96px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-5 {
    height: 96px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-6 {
    height: 96px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-7 {
    height: 96px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-8 {
    height: 96px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-9 {
    height: 96px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 366px;
}

.u-section-2 .u-text-1 {
  margin: 29px 27px 49px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}